@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans);

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: right;
  padding: 5px 35px 5px 5px;
}
header > p {
  word-spacing: 15px;
  line-height: 10px;
}
header > p > a {
  text-decoration: none;
  color: #333;
}
header > p > a:hover {
  text-decoration: underline;
}
.signin {
  background: #0055ff;
  color: #fff;
  word-spacing: 3px;
  padding: 5px 10px;
}
.signin {
  text-decoration: none !important;
}
.signin:hover {
  background: #0033ff;
}
.container {
  text-align: center;
  width: 500px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  padding: 25px;
}

#logo {
  width: 80%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  letter-spacing: -10px;
  line-height: 25px;
}

.blue {
  color: #0000ff;
}
.red {
  color: #ff0000;
}
.yellow {
  color: #eeee00;
}
.green {
  color: #00dd00;
}

.inputBox, .logoBox, .buttons {
  width: 500px;
  height: 20px;
}
.logoBox {
  text-align: center;
}
input {
  width: 100%;
  height: 25px;
  border: 1px solid #333;
  margin-bottom: 25px;
}

button {
  border: 1px solid #ddd;
  font-size: 0.9em;
  width: 175px;
  padding: 5px;
  margin: 0 10px 0 10px;
}

button:hover {
  background: #ddd;
}

footer {
  padding: 5px 35px 5px 25px;
  background: #eee;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer > p {
  word-spacing: 15px;
  line-height: 10px;
  border-top: 1px solid #ddd;
}

footer > p > a {
  text-decoration: none;
  color: #333;
}
footer > p > a:hover {
  text-decoration: underline;
}
footer > p:nth-child(1) {
  text-align: right;
  float: left;
}
footer > p:nth-child(2) {
  text-align: right;
  float: right;
} 